*{
      box-sizing: border-box;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}



.css-ewpks6 {
    box-sizing: content-box;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    background-clip: content-box;
    background-color: var(--ds-background-neutral-bold, #6B778C);
    border-radius: 16px;
    border: 2px solid transparent;
    height: 16px;
    position: relative;
    transition: transform 0.2s ease 0s;
    width: 32px;
    color: var(--ds-text-inverse, #FFFFFF);
}

.css-ewpks6[data-checked] {
    background-color: var(--ds-background-success-bold, #00875A);
    color: var(--ds-text-inverse, #FFFFFF);
}



.css-ewpks6::before {
    background-color: var(--ds-surface, #FFFFFF);
    border-radius: 50%;
    content: "";
    position: absolute;
    transform: initial;
    transition: transform 0.2s ease 0s;
    bottom: 4px;
    height: 12px;
    width: 12px;
    left: 4px;
}


.css-ewpks6[data-checked]::before {
    background-color: var(--ds-surface, #FFFFFF);
    transform: translateX(16px);
}

.css-ewpks6 input[type="checkbox"] {
    opacity: 0;
    margin: 0px;
    padding: 0px;
    border: none;
}



.css-hakgx8 {
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    width: 16px;
    height: 16px;
}

.css-ewpks6 > span:first-of-type {
    left: 3px;
}




.css-hakgx8 > svg {
    overflow: hidden;
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
    color: var(--icon-primary-color);
    fill: var(--icon-secondary-color);
    vertical-align: bottom;
}
.css-hakgx8 > svg {
    width: 16px;
    height: 16px;
}



.css-hakgx8 {
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    width: 16px;
    height: 16px;
}
.css-ewpks6 > span {
    position: absolute;
    top: 2px;
}
.css-ewpks6 > span:last-of-type {
    right: 3px;
}

.none{
    display: none;
}

.css-ewpks6::before {
    background-color: var(--ds-surface, #FFFFFF);
    border-radius: 50%;
    content: "";
    position: absolute;
    transform: initial;
    transition: transform 0.2s ease 0s;
    bottom: 4px;
    height: 12px;
    width: 12px;
    left: 4px;
}

