body{
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background-color: #191C2B;*/
    align-items: center;
    justify-content: center;
}

/*custom*/
.nav-link.active::before{
    position: absolute;
    bottom: 0px;
    left: 4px;
    right: 4px;
    content: "";
    height: 3px;
    background-color: var(--ds-iconBorder-brand,#0052CC);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.nav-link{
    position: relative;
}
.navbar {
    width: 100%;
}
.nav-item{
    margin-right: 1rem;
}
button{
    border: none;
    background: none;
}
.css-size span{
    width: 24px;
    height: 24px;
    display: block;
    background-size: cover;
}

.css-search{
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 7px;
}


.css-search > svg {
    overflow: hidden;
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
    color: var(--icon-primary-color);
    fill: var(--icon-secondary-color);
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}
.form-control{
    padding-left: 30px;
}
.wrapper-search{
    position: relative;
}
main{
    margin-bottom: auto;
    width: 100%;
    padding-top: 30px;
    position: relative;
}
main h1{
    margin-bottom: 20px;
}

.wrapper-search--icon-right .css-search{
    left: inherit;
    right: 14px;
}
.wrapper-search--icon-right {
    max-width: 250px;
}
.control-panel{
    margin-bottom: 20px;
}
.btn-absolute{
    position: absolute; 
    right: 0;
    top: 0;
}
main .container{
    position: relative;
}

.control-panel .btn-group{
    background-color: #F4F5F7;
}
.control-panel .btn-group .btn{
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding-top: 3px;
    padding-bottom: 3px;
}
.mr-2 {
    margin-right: 0.5rem!important;
}
.wrapper-search--width{
    max-width: inherit;
}
.wrapper-search--width .form-control{
    border: 0 solid #ced4da;
    border-bottom-width: 2px;
    border-radius: 0;
    padding-left: 0;
}

.container-wrapper{
    margin-top: 20px;
}

.container-wrapper  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 7px;
}

.container-wrapper  .btn{
    font-size: 12px;
    line-height: 1;
    max-width: 95px;
    padding: 2px 0;
    border: none;
    outline: none;
}

.container-wrapper li{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 110px;
    padding: 7px 0;
    box-shadow: var(--ds-shadow-raised,0 1px 1px rgba(9,30,66,0.25),0 0 1px 1px rgba(9,30,66,0.13));
}
.card-job-title{
    font-size: 14px;
    margin-bottom: 5px;
}
.card-img{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.card-img span{

    display: block;
    background-size: cover;
    box-shadow: 0 0 0 2px var(--ds-surface-overlay,#FFFFFF);
}
.card-img div{
    height: 40px;
    width: 40px;
}

.wrapper-icons{
    display: flex;
    height: 44px;
    flex-direction: row-reverse;
}
.wrapper-icon{
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}
.icon{
    height: 40px;
  width: 40px;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-color: var(--ds-surface-overlay,#FFFFFF);
  border-radius: 50%;
  box-sizing: content-box;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: static;
  transform: translateZ(0px);
  transition: transform 200ms ease 0s, opacity 200ms ease 0s;
  box-shadow: 0 0 0 2px var(--ds-surface-overlay,#FFFFFF);
  border: none;
  padding: 0px;
  font-size: inherit;
  font-family: inherit;
  background-size: cover;
}